<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rope_break_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{41,54}}</string>
				<key>offset</key>
				<string>{-6,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>
			<key>rope_break_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{48,58}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rope_break.png</string>
			<key>realTextureFileName</key>
			<string>rope_break.png</string>
			<key>size</key>
			<string>{64,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>