<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slotIcon_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{106,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>slotIcon_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{112,104}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,102}</string>
      </dict>
      <key>slotIcon_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,107}</string>
      </dict>
      <key>slotIcon_000003</key>
      <dict>
        <key>frame</key>
        <string>{{106,213},{102,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{100,98}</string>
      </dict>
      <key>slotIcon_000004</key>
      <dict>
        <key>frame</key>
        <string>{{206,313},{96,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,97}</string>
      </dict>
      <key>slotIcon_000005</key>
      <dict>
        <key>frame</key>
        <string>{{112,109},{98,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
      <key>slotIcon_000006</key>
      <dict>
        <key>frame</key>
        <string>{{106,313},{100,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,96}</string>
      </dict>
      <key>slotIcon_000007</key>
      <dict>
        <key>frame</key>
        <string>{{302,202},{89,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,100}</string>
      </dict>
      <key>slotIcon_000008</key>
      <dict>
        <key>frame</key>
        <string>{{208,211},{94,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>slotIcon_000009</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{96,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,98}</string>
      </dict>
      <key>slotIcon_000010</key>
      <dict>
        <key>frame</key>
        <string>{{302,304},{83,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{81,99}</string>
      </dict>
      <key>slotIcon_000011</key>
      <dict>
        <key>frame</key>
        <string>{{210,100},{93,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>slotIcon.png</string>
      <key>size</key>
      <string>{418,420}</string>
      <key>textureFileName</key>
      <string>slotIcon.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Icon_1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Icon_2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>Icon_3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>Icon_4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48980</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>Icon_5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48454</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>Icon_6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>Icon_7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>Icon_8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50575</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>Icon_9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48913</real>
        <key>anchorY</key>
        <real>0.51020</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>Icon_a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.51020</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>Icon_a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50617</real>
        <key>anchorY</key>
        <real>0.50505</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>Icon_a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50549</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
    </dict>
  </dict>
</plist>