<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{10,22}}</string>
                <key>offset</key>
                <string>{60,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,55},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,48},{10,22}}</string>
                <key>offset</key>
                <string>{61,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,113},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{10,22}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,24},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{10,22}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,70},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,58},{10,22}}</string>
                <key>offset</key>
                <string>{35,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,104},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{38,26}}</string>
                <key>offset</key>
                <string>{22,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,17},{38,26}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,32}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,42},{38,32}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{36,34}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{36,34}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{10,22}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,109},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{10,22}}</string>
                <key>offset</key>
                <string>{57,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,26},{10,22}}</string>
                <key>sourceSize</key>
                <string>{176,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sweats.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4666bed96848472eac91413be9f8f2db:78f0b4f08e278011ac522e4b2a4f7ccf:4170797931e1cef0b228f82bb841a4c1$</string>
            <key>textureFileName</key>
            <string>sweats.png</string>
        </dict>
    </dict>
</plist>
