<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>w_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{436,437}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{430,431}}</string>
        <key>offset</key>
        <string>{0.10,-0.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,868},{423,423}}</string>
        <key>offset</key>
        <string>{-0.69,0.19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,1291},{415,415}}</string>
        <key>offset</key>
        <string>{-0.41,-0.09}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000004</key>
      <dict>
        <key>frame</key>
        <string>{{415,1291},{406,406}}</string>
        <key>offset</key>
        <string>{-0.07,-0.43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000005</key>
      <dict>
        <key>frame</key>
        <string>{{423,868},{395,395}}</string>
        <key>offset</key>
        <string>{-0.16,-0.34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000006</key>
      <dict>
        <key>frame</key>
        <string>{{430,437},{384,384}}</string>
        <key>offset</key>
        <string>{0.35,-0.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000007</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{375,375}}</string>
        <key>offset</key>
        <string>{0.43,-0.93}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000008</key>
      <dict>
        <key>frame</key>
        <string>{{811,0},{361,361}}</string>
        <key>offset</key>
        <string>{0.58,-1.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000009</key>
      <dict>
        <key>frame</key>
        <string>{{814,361},{346,347}}</string>
        <key>offset</key>
        <string>{0.83,-0.83}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000010</key>
      <dict>
        <key>frame</key>
        <string>{{818,708},{330,331}}</string>
        <key>offset</key>
        <string>{1.10,-1.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000011</key>
      <dict>
        <key>frame</key>
        <string>{{821,1039},{312,313}}</string>
        <key>offset</key>
        <string>{1.03,-1.03}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000012</key>
      <dict>
        <key>frame</key>
        <string>{{821,1352},{294,295}}</string>
        <key>offset</key>
        <string>{1.48,-1.48}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000013</key>
      <dict>
        <key>frame</key>
        <string>{{1115,1352},{276,275}}</string>
        <key>offset</key>
        <string>{1.54,-1.54}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000014</key>
      <dict>
        <key>frame</key>
        <string>{{1133,1039},{255,255}}</string>
        <key>offset</key>
        <string>{1.66,-2.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000015</key>
      <dict>
        <key>frame</key>
        <string>{{1148,708},{234,234}}</string>
        <key>offset</key>
        <string>{2.35,-1.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000016</key>
      <dict>
        <key>frame</key>
        <string>{{1160,361},{211,211}}</string>
        <key>offset</key>
        <string>{2.64,-2.14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000017</key>
      <dict>
        <key>frame</key>
        <string>{{1172,0},{187,187}}</string>
        <key>offset</key>
        <string>{2.96,-2.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000018</key>
      <dict>
        <key>frame</key>
        <string>{{1531,423},{159,162}}</string>
        <key>offset</key>
        <string>{2.93,-2.93}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000019</key>
      <dict>
        <key>frame</key>
        <string>{{1531,282},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000020</key>
      <dict>
        <key>frame</key>
        <string>{{1519,0},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000021</key>
      <dict>
        <key>frame</key>
        <string>{{1391,1456},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000022</key>
      <dict>
        <key>frame</key>
        <string>{{1391,1315},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000023</key>
      <dict>
        <key>frame</key>
        <string>{{1492,141},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000024</key>
      <dict>
        <key>frame</key>
        <string>{{1391,1597},{159,141}}</string>
        <key>offset</key>
        <string>{2.56,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000025</key>
      <dict>
        <key>frame</key>
        <string>{{1382,610},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000026</key>
      <dict>
        <key>frame</key>
        <string>{{1382,751},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000027</key>
      <dict>
        <key>frame</key>
        <string>{{1172,187},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000028</key>
      <dict>
        <key>frame</key>
        <string>{{1382,892},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000029</key>
      <dict>
        <key>frame</key>
        <string>{{1371,469},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000030</key>
      <dict>
        <key>frame</key>
        <string>{{1371,328},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000031</key>
      <dict>
        <key>frame</key>
        <string>{{1359,0},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000032</key>
      <dict>
        <key>frame</key>
        <string>{{1332,187},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000033</key>
      <dict>
        <key>frame</key>
        <string>{{1388,1033},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000034</key>
      <dict>
        <key>frame</key>
        <string>{{1388,1174},{160,141}}</string>
        <key>offset</key>
        <string>{3.06,-2.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{434,435}</string>
      </dict>
      <key>w_000035</key>
      <dict>
        <key>frame</key>
        <string>{{1542,585},{137,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,139}</string>
      </dict>
      <key>w_000036</key>
      <dict>
        <key>frame</key>
        <string>{{0,1706},{160,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{158,23}</string>
      </dict>
      <key>w_000037</key>
      <dict>
        <key>frame</key>
        <string>{{436,375},{61,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{59,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.3</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>w.png</string>
      <key>size</key>
      <string>{1736,1738}</string>
      <key>textureFileName</key>
      <string>w.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>ani1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50977</real>
        <key>anchorY</key>
        <real>0.49140</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50607</real>
        <key>anchorY</key>
        <real>0.49410</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50272</real>
        <key>anchorY</key>
        <real>0.59539</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50983</real>
        <key>anchorY</key>
        <real>0.49867</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
    </dict>
  </dict>
</plist>